{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]

}
